@charset "UTF-18";


body{
    background-image: linear-gradient( to right, #1D7373, #0F5959)
    
}

main
{
    background-color: white;
    width: 450px;
    padding: 35px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 6px 7px 15px #0A3A40;
    font-size: 16px;
    text-align: justify;

}

    h1{
        text-shadow: 1px 1px 2px #0b5e4e;
        text-align: center;
        color: #042326;
    }

    h2 {
        color: #0A3A40 ;
    }

p{
    font-size: 18px;
}