@charset "UTF-8";

body{
    height: 100vh;
    margin: 0px;
    background: white url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}

header{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.781);
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
    text-align: center; 
    padding: 10px;
}

main{
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    font-size: larger;
}